.Info-card{
    display: flex;
    width: 40vw;
    padding: 1rem;
}
.content-style{
    font-family: 'Times New Roman', Times, serif;
    color: grey;
}
.outline-paper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2.5rem;
}
.backhome:hover{
    color: green;
}